/* Home.css */

.home-container {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.empty-state-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.empty-state-emoji {
  font-size: 4rem;
  margin-bottom: 10px;
}

.empty-state-title {
  font-weight: 600;
  font-size: 1.8rem;
  color: #333;
}

.or-text {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 20px 0;
}

.custom-rule-btn {
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
}

.premade-rule-btn {
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
}

.rule-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rule-card {
  margin: 20px;
  flex-grow: 1;
  max-width: 350px;
  width: 100%;
}

/* Adjust your different layout classes (small, medium, large) as needed... */

